h2{
    font-family: 'Roboto', sans-serif;
    font-weight:200;
    color: white;
    font-size: 20px;
}

h3{
    font-family: 'Roboto', sans-serif;
    font-weight:350;
    color: white;
    font-size: 20px;
}

p{
    font-family: 'Roboto', sans-serif;
    color: white;
    opacity: 70%;
    display: block;
    font-weight: 100;
    font-size: 18px;
}

body {
    background-color: black;
}

.topnav{
    position: center;
    padding:30px 150px;
}

.HomePageImage{
    padding-top: 60px;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

.pink{
    color: #FF1A95;
    display: inline-block;
}

.hoverPink:hover{
    color: #FF1A95;
    display: inline-block;
    transition: .3s;
}

.col-md-4{
    padding: unset;
}

.textlength{
    padding-left: 24%;
    padding-right: 24%;
}

a{
    color: white;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none;
color: #FF1A95;}


a:active { text-decoration: none; }

.linkhover{
    color: #FF1A95;
    display: inline-block;
}

.paddingBetweenImages{
    padding-top: 3%
}

.paddingBottomofPage{
    padding-bottom: 3%;
}

.navbar-light .navbar-toggler-icon {
    background-image: url(../img/Logo_Colors.png)!important;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}


.bg-light {
    background-color: transparent!important;
}

.row {
    justify-content: center;
}

.navbar-toggler{
    flex:auto;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 5rem;
    padding-left: 5rem;
}

button {
    outline: none !important;
}

hr {
    display: block;
    margin-top: -0.10em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border-color: white;
}

.descriptionPadding{
    padding-top: 1%;
}