h3{
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    color: white;
    font-size: 25px;
}

body {
    background-color: black;
}

.topnav{
    position: center;
    padding:30px 150px;
}

.HomePageImage{
    padding-top: 60px;
}

.img-fluid{
    width: fit-content;
    max-height: 100%;
    object-fit: cover;
}

.hoverGreen:hover{
    color: #3FCD0E;
    display: inline-block;
    transition: .3s;
}

.hoverBlue:hover{
    color: #1A4DFF;
    display: inline-block;
    transition: .3s;
}

.hoverPink:hover{
    color: #FF1A95;
    display: inline-block;
    transition: .3s;
}

.hoverYellow:hover{
    color: #FFA31A;
    display: inline-block;
    transition: .3s;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

.col-md-4{
    padding: unset;
    width: 33.3;
    height: 384px;
}

img {
    display: block;
    height: 100%;
    object-fit: fill;
    max-width: 100%;
}


/* Modal/Lightbox*/

* {
    box-sizing: border-box;
}

.row > .column {
    padding: 0 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 25%;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 70%;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: lighter;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.mySlides {
    display: none;
}

.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: lighter;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    color: #FF1A95;
}


img {
    margin-bottom: -4px;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img#hover-shadow {
    transition: 0.3s;
}

#hover-shadow:hover {
    background-color: black;
    opacity: 50%;
}

.navbar-light .navbar-toggler-icon {
    background-image: url(../img/Logo_Colors.png)!important;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}
.bg-light {
    background-color: transparent!important;
}

.navbar-toggler{
    flex:auto;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 5rem;
    padding-left: 5rem;
}