

h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 176px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    color: transparent;
}

h3{
    font-family: 'Roboto', sans-serif;
    font-weight:350;
    color: white;
    font-size: 20px;
}

body {
    background-color: black;
}

.topnav{
    position: center;
    padding:30px 150px;
}

.HomePageImage{
    padding-top: 10px;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

.pink{
    color: #FF1A95;
    display: inline-block;
}

.hoverPink:hover{
    color: #FF1A95;
    display: inline-block;
    transition: .3s;
}

.bg-light {
    background-color: transparent!important;
}
.navbar-light .navbar-toggler-icon {
    background-image: url(img/Logo_Colors.png)!important;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}
.navbar-toggler{
    flex:auto;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 5rem;
    padding-left: 5rem;
    }

button {
    outline: none !important;
}

hr {
    display: block;
    margin-top: -0.10em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border-color: white;
}