body {
color: white;
font-family: 'Montserrat', ;
background: black;
}

h1 {
-webkit-text-fill-color: rgb(255,255,255);
text-indent: 82.56px;
font-size: 58pt;
font-weight: bold;
}

h2 {
-webkit-text-fill-color: rgb(255,255,255);
text-indent: 82.56px;
font-size: 32.37pt;
font-weight: SemiBold;
}

h3 {
-webkit-text-fill-color: rgb(255,255,255);
text-indent: 82.56px;
font-size: 20.37pt;
font-weight: medium;
}

p{
padding-left:151.26px;
width: 433.58px;
font-size: 18px;
font-weight: light;
}

.firstimg{
padding-left: 78px;
padding-bottom: 174px;
}


.title{
padding-left: 78px;
padding-bottom: 174px;
}

.bluetext{
	-webkit-text-fill-color: rgb(77,77,239);
}

.pinktext{
	-webkit-text-fill-color: rgb(249,112,200);
}

input{
	color: rgb(0,0,0);
}

ul{
	font-size: 32.37pt;
	padding-left: 100pt;
}

a{
	color: black;
	text-decoration: none;
}

.submit{
	background-color: rgb(249,247,189);
	color: black;
	font-family: 'Montserrat', ;
	border: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 30px;
	margin: 10px 20px;
	padding-left: 100px;
	cursor: pointer;
}

.story{
	padding-top: 1200
}

.randombutton{
	border: none;
	background-color: black;
}

.restart{
	border: none;
	background-color: rgb(77,77,239);
	color: white;
	font-family: 'Montserrat', ;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 30px;
	margin: 4px 2px;
	cursor: pointer;
	padding-right: 1400px;
}

.story_design{
	font-family: 'Montserrat', ;
	padding-top: 12000;
}

.boldtype{
	-webkit-text-fill-color: rgb(249,112,200);
}

.text{
	-webkit-text-fill-color: white;
	font-family: 'Montserrat', ;
	font-size: 14px;
	margin-top: 500px;
}


